.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}




/* navbar starts here */
.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align:right ;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    padding:5px 10px;
    margin:20px 0px;
    background-color:transparent;
}
/* navbar ends here */





/* profile starts here */
.profile .top-icon{
    right:120px;
    width:130px;
    transition:width 2s transform 2s;
}

.profile .top-icon:hover{
    width:150px;
}

.profile-desc p{
    color:gray;
    text-align: center;
    margin:0 auto;
    margin-bottom: 10px;
    width:50%;
}

.profile .bottom-icon{
    bottom:20px;
    left:120px;
    width:130px;
    transition:width 2s transform 2s;
}

.profile .bottom-icon:hover{
    width:150px;
}
/* profile ends here */






/* about-me starts here */
.aboutme-image{
    margin-top: 50px;
}

.aboutme-image img{
    height:400px;
    width:320px;
}

.aboutme-desc p{
    text-align: left;
}
/* about me ends here */






/* experience start here */
.prof-exp{
    padding:1% 5%;
    background-color:lightgray;
}
/* experienece end here */





/* contacts start here */
.acievement{
    padding-right: 50px;
}

.contact-link{
    position:relative;
}

.media-button{
    position:absolute;
    margin-top:200px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.media-button .btn{
    border-radius: 10px;
    font-size: 40px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    background-color:white;
}

.media-button .btn:hover{
    background-color:gray;
}
/* contacts end here */




/* footer starts  here */
.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display:inline;
    margin: 10px;

}

/* footer ends here */